body {
  padding: 0 auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-content {
  position: relative;
  width: 100vw;
  height: 100vh;

  &__background-image {
    object-fit: cover;
    object-position: bottom;
    height: 100%;
    width: 100vw;
  }
}

.band-banner {
  max-height: 10vh;
  max-width: 250px;
  object-fit: contain;
  object-position: top;
  position: absolute;
  border-radius: 3vw 3vw 3vw 3vw;
  top: 3vh;
  left: 5vw;
  z-index: 3;
  padding-right: 2vw;
  padding-left: 2vw;
  background-color: black;
  border: 0.2vh solid white;
  box-shadow: 0 0 1vh black;
}

.listen-content {
  width: 65vw;
  height: 85vh;
  margin-top: 5vh;
  margin-left: 100vw;
  background-color: rgba(255, 255, 255, 0.733);
  position: absolute;
  left: 5%;
  top: 5%;
  right: 5%;
  bottom: 5%;
  animation: enter-content-left 0.5s 0s ease-in-out forwards;
  justify-items: flex-start;
  justify-content: flex-start;
  font-family: "Cabin Sketch", cursive;
  font-weight: bold;
  font-size: 3vh;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 3;
  align-content: center;
  align-items: center;
  display: none;
}

.concert-content {
  width: 65vw;
  height: 85vh;
  margin-top: 5vh;
  margin-left: 100vw;
  background-color: rgba(255, 255, 255, 0.733);
  position: absolute;
  left: 5%;
  top: 5%;
  right: 5%;
  bottom: 5%;
  animation: enter-content-left 0.5s 0s ease-in-out forwards;
  justify-items: flex-start;
  justify-content: flex-start;
  font-family: "Cabin Sketch", cursive;
  font-weight: bold;
  font-size: 3vh;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 3;
  align-content: center;
  align-items: center;
  display: none;
}

.band-content {
  width: 65vw;
  height: 85vh;
  margin-top: 5vh;
  margin-left: 100vw;
  background-color: rgba(255, 255, 255, 0.733);
  position: absolute;
  left: 5%;
  top: 5%;
  right: 5%;
  bottom: 5%;
  animation: enter-content-left 0.5s 0s ease-in-out forwards;
  justify-items: flex-start;
  justify-content: flex-start;
  font-family: "Cabin Sketch", cursive;
  font-weight: bold;
  font-size: 3vh;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 3;
  align-content: center;
  align-items: center;
  display: none;
}

.pictures-content {
  width: 65vw;
  height: 85vh;
  margin-top: 5vh;
  margin-left: 100vw;
  /*background-color: rgba(255, 255, 255, 0.733);*/
  position: absolute;
  left: 5%;
  top: 5%;
  right: 5%;
  bottom: 5%;
  animation: enter-content-left 0.5s 0s ease-in-out forwards;
  justify-items: flex-start;
  justify-content: flex-start;
  font-family: "Cabin Sketch", cursive;
  font-weight: bold;
  font-size: 3vh;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 3;
  align-content: center;
  align-items: center;
  display: none;
  & img {
    box-sizing:border-box;
    display:flex;
    object-fit:cover;
    max-width:65vw;
    height: 22%;
    border-radius: 3%;
    margin-bottom:3%;
    box-shadow:1vw 1vw 0.5vw rgb(0, 0, 0);
  }
}

.page-content {
  max-width: 80vw;
  height: 86vh;
  margin-top: 5vh;
  margin-left: -100vw;
  background-color: rgba(255, 255, 255, 0.541);
  position: absolute;
  left: 5%;
  top: 5%;
  right: 5%;
  bottom: 5%;
  animation: enter-content-left 0.5s 2.5s ease-in-out forwards;

  font-family: "Cabin Sketch", cursive;
  font-weight: bold;
  font-size: 100px;
  color: rgba(248, 248, 248, 0.651);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 3;
  align-content:center;
  align-items:flex-start;
  justify-content:space-around;
  text-align:center;

  & span {

  }
  & i {
    display:flex;
    align-items: center;
    align-content:center;
    justify-items:space-around;
    justify-content:space-around;
    /*background: linear-gradient(120deg, rgb(255, 145, 19) 30%, rgb(255, 254, 254) 60%,rgb(255, 162, 24) 90%);*/
    color:rgb(255, 187, 0);
    width:80%;
    height:100%;
    font-size: 50%;
    line-height:10%;
    flex-wrap: nowrap;
    flex-shrink: 1;
   
    text-shadow: 0 0 3vw rgba(255, 255, 255, 0.815);
    &:hover {
      /*color: white;
      transform: scale(1.1);*/
    }
  }

  & h2,
  h3 {
    box-sizing:border-box;
    color: rgb(255, 255, 255);
    width:60vw;
    text-align: center;
    margin: 0 0 5vw 0;
    font-size: 3vh;
    font-family: "Roboto";
    text-shadow: 0 0 2vw black;
    background-color:rgba(0, 0, 0, 0.534);
    padding: 5% 5%;

  }

  & p {
    box-sizing: border-box;
    font-family: "Roboto";
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
    overflow:visible;
    margin:0;
    width: 40%;
    height: 15%;
    color: rgb(255, 255, 255);
    align-items: center;
    align-content:center;
    justify-items:space-around;
    justify-content:space-around;
    flex-shrink: 1;

    &:nth-child(3) {
      & i {
        &:hover { 
        color: rgb(2, 255, 44);
      }
    }
  }

  &:nth-child(4) {
    & i {
      &:hover { 
        background-image: linear-gradient(-45deg, #35C3F3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #FED2CE 100%);
        background-clip:text;
        -webkit-background-clip: text;
    color:transparent;
    text-shadow:0 0 0.5vw rgb(255, 255, 255, 0.2) ;
      }
  }
}

&:nth-child(5) {
  & i {
    &:hover { 
    color: rgb(49, 70, 255);
  }
}
}

&:nth-child(6) {
  & i {
    &:hover { 
    background:linear-gradient(270deg, rgb(225, 0, 255),rgb(17, 193, 247), green);
    background-clip:text;
    -webkit-background-clip: text;
    color:transparent;
    text-shadow:0 0 0.5vw rgb(255, 255, 255,0.1) ;
  }
}
}

    &:nth-child(7) {
      & i {
        &:hover {
          color: rgb(255, 2, 2);
      }
    }
  }

  &:nth-child(8) {
    & i {
      &:hover {
        color: rgb(255, 166, 2);
    }
  }
}
    
    & > :not(i) {
      font-family: "Cabin Sketch", cursive;
      font-size: 2vw;
    }
  
}
}

.the-man {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 40vh;
  padding: 0;
  z-index: 2;
  align-items: center;

  &__image {
    object-fit: contain;
    object-position: bottom;
    overflow: visible;
    width: 60vw;
    height: 40vh;
    margin-top: 40vh;
    animation: enter-the-man-below 2s 1s ease-in-out forwards;
  }
}

.nav-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100vh;
  right: 5vw;
  padding-top: 5vh;

  width: 15vw;
  height: 100vh;
  z-index: 4;
  justify-content: flex-start;
  align-items: center;
  animation: enter-the-menu-below 1s 2.5s ease-in-out forwards;
  background: linear-gradient(180deg, black, rgba(255, 255, 255, 0.76));
  &__image {
    object-fit: cover;
    width: 20vw;
    margin-bottom: 5vh;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 50%;
    border: 0.3vh solid orange;
    box-shadow: -1vh 0 1vh black;
  }
  &__item {
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 8vw;
    position: relative;
    bottom: 0;
    /*background-color: rgba(15, 15, 15, 0.308);*/
    color: white;
    font-family: "Cabin Sketch", cursive;
    font-size: 2vh;
    margin-top: 7vh;
    & > :not(i) {
      height: 2vh;
      text-align: center;
    }
    & i {
      margin-top: -6vh;
      /*background: linear-gradient(0deg, rgb(0, 0, 0), rgb(255, 144, 18) 60%);*/
      padding: 2vh;
      font-size: 5vh;
      &:hover {
        color: orange;
        /*background: linear-gradient(0deg, rgb(0, 0, 0), rgb(255, 255, 255) 60%);*/
        animation: bumping-icon 1s ease-in-out forwards;
      }
    }
    &:nth-child(odd) {
      margin-bottom: 3vh;

      /*box-shadow: -0.1vw -0.1vw 0.1vw rgb(255, 255, 255);*/

      /*border: 0.3vh solid orange;*/
      &:hover {
        /*animation: circle-with-white-shadow 0.3s ease-in-out forwards;*/
      }
    }

    &:nth-child(even) {
      margin-bottom: 3vh;
      /*box-shadow: -0.2vh -0.2vh 0.2vh rgb(255, 161, 37);*/

      /*border: 0.3vh solid white;*/
      &:hover {
        /*animation: circle-with-orange-shadow 0.5s ease-in-out forwards;*/
      }
    }
  }
}
