

/*******************************************************/

@keyframes enter-the-man-left {
  0% {
    margin-left: -40vh;
  }
  10% {
    margin-left: -25vh;
  }
  25% {
    margin-left: -32vh;
  }
  100% {
    margin-left: -12vh;
  }
}

@keyframes bumping-man {
  0% {
    margin-left: -10vh;
  }
  10% {
    margin-left: -8vh;
  }
  25% {
    margin-left: -10vh;
  }
  100% {
    margin-left: -9vh;
  }
}

@keyframes enter-the-menu-below {
  0% {
    top: 100vh;
  }
  50% {
    top: -1vh;
  }
  100% {
    top: 0vh;
  }
}

@keyframes enter-the-menu-right {
  0% {
    left: 100vw;
  }
  50% {
    left: -10vw;
  }
  100% {
    left: 0vw;
  }
}

@keyframes circle-with-orange-shadow {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -5vh;
    border-radius: 50%;
    height: 20vw;
    box-shadow: -0.2vh -0.2vh 0.2vh rgb(255, 146, 43);
  }
}

@keyframes circle-with-white-shadow {
  from {
  }
  to {
    margin-top: 0vw;
    border-radius: 50%;
    height: 20vw;
    box-shadow: -0.2vh -0.2vh 0.2vh rgb(255, 255, 255);
    font-weight: bold;
    font-size: 6vw;
  }
}

@keyframes bumping-icon {
  0% {
    margin-top: 1vh;
  }
  25% {
    margin-top: 0vh;
  }
  50% {
    margin-top: 1vh;
  }
  75% {
    margin-top: 0.5vh;
  }
  100% {
    margin-top: 1vh;
  }
}

@keyframes send-to-top {
  0% {
    top: 0vh;
  }
  100% {
    top: -88vh;
    z-index: 5;
    background-color: white;
  }
}

@keyframes expand-to-bottom {
  0% {
    top: -95vh;
  }
  100% {
    top: 0vh;
  }
}

@keyframes rotate-twice {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    background-color: black;
  }
}

@keyframes rotate-twice-anticlock {
  33% {
    transform: rotate(360deg);

  }
  66% {

    transform: rotate(540deg);
  }
  100% {
    transform: rotate(0deg);
    background-color: black;

  }
}

@keyframes opacity-to-one {
  0% {
  }
  40% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(720deg);
  }
  90% {
    transform: rotate(1080deg);
  }
  95% {
    transform: rotate(1440deg);
  }
  100% {
    transform: rotate(1800deg);
    opacity: 1;
  }
}

@keyframes exit-right {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 200vw;
    /*display: none;*/
  }
}

@keyframes enter-content-left {
  0% {
    margin-left: -100vw;
    /*display: flex;*/
  }
  100% {
    margin-left: 0vw;
    left: 5vw;
  }
}

@keyframes width-to-90 {
  from {
    margin-left: 0vw;
    left: 5vw;
    max-width: 75vw;
  }
  to {
    margin-left: 0vw;
    left: 5vw;
    max-width: 90vw;
  }
}

@keyframes width-to-75 {
  from {
    margin-left: 0vw;
    left: 5vw;
    max-width: 90vw;
  }
  to {
    margin-left: 0vw;
    left: 5vw;
    max-width: 75vw;
  }
}

@keyframes fade-out {
 0% {
    opacity:1;
  }
  99% {
    opacity:90%;
    height:100%;
  }
  100% {
    opacity:0;
    height:0;
    overflow:hidden;
  }
}

@keyframes fade-in {
  0% {
     opacity:0;
   }
   99% {
     opacity:0.9;

   }
   100% {
     opacity:1;
   }
 }
